<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./slide.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script> -->

</head>
<body>
    <div id="container">
                <video-carousel inline-template class="carousel">
                    <div>
                        <div class="carousel__content">
                            <div class="carousel__video"
                                 v-for="(video, i) in videos"
                                 :class="video.position">

                            <div @click="changeVideo(0, video.position)" class="inactive" v-if="!video.active">
                            </div>

                            <div class="carousel__overlay" v-if="!video.active && video.position == 'main'">
                                <div class="carousel__overlay-bottom">

                                </div>
                            </div>
                            <img 
                                v-if="!video.active"
                                :src="video.thumbnail" 
                                alt=""
                                class="carousel__video-picture"
                            >
                                <iframe v-if="video.active" id="ytplayer" type="text/html" width="100%" height="100%"
                                :src="video.embed"
                                frameborder="0">
                                </iframe>
                                <div class="carousel__placeholder-background" v-if="video.active"></div>
                        </div>
                        </div>
                    </div>
                </video-carousel>

    </div>
    <script src="./slide.js"></script>
</body>
</html>
